<div class="container">
    <h2>Voting</h2>
    <button onclick="vote(true)" class="btn btn-success">Yes</button>
    <button onclick="vote(false)" class="btn btn-danger">No</button>
</div>
<script src="/js/vote.js"></script>
