<div class="container">
    <h2>Now Playing: <%= video.title %></h2>
    <div class="container">
        <video width="100%" controls>
            <source src="<%= video.url %>" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="container">
        <button onclick="vote(true)" class="btn btn-success">Yes</button>
        <button onclick="vote(false)" class="btn btn-danger">No</button>
    </div>
    <br>
    <a href="/video/list" class="btn btn-primary">Back</a>
</div>
<script src="/js/vote.js"></script>
