<script>
    function vote(vote) {
        Vote.create({ VideoId: 1,choice: vote, zipId: 1});
        window.location.href = "/feedback";
    }
</script>
<div class="container">
    <h2>Voting</h2>
    
    <button onclick="vote(true)">Yes</button>
    <button onclick="vote(false)">No</button>
</div>