<div class="container">
    <h2>Voting</h2>

    <form action="/vote-entryYes" method="POST">
        <button type="submit">Yes</button>
    </form>
    <form action="/vote-entryNo" method="POST">
        <button type="submit">No</button>
    </form>
</div>